html {
    font-family: Comic Sans MS, Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Papyrus; color: purple
}

ul {
    list-style: none; margin: 0; padding: 0;
}

li {
    display: inline-block; margin: 0; padding: 0;
}

a {
    padding: 16px; color: black;  background-color: gray;
}

a:hover {
    background-color: #AAA;
}

footer {
    background-color: #DDD; color: #555; text-align: center; padding: 16px;
}